<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/index_wel.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/animate/animate.min.css"/>
	</head>
	<body>
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div class="mui-slider-group">
					<div class="mui-slider-item">
						<img src="../img/1.jpg">
						<div id="first" class="first-word welcome" style="display: none;">
							<span class="first animated bounceInLeft">沟通方便</span>
							<span class="first animated bounceInRight">交流快捷</span>
							<span class="first animated bounceInLeft">社区首选</span>
						</div>
					</div>
					<div class="mui-slider-item">
						<img src="../img/2.jpg">
						<div id="second" class="sencond-word welcome" style="display: none;">
							<span class="second animated bounceInLeft">微博互动</span>
							<span class="second animated bounceInRight">热点资讯</span>
						</div>
					</div>
					<div class="mui-slider-item">
						<img src="../img/3.jpg">
						<div id="third" class="third-word welcome" style="display: none;">
							<span class="third animated bounceInDown">充满财富的社区</span>
							<button id="okBtn" class="third wel-ok mui-btn mui-btn-green animated bounceInUp">立即体验</span>
						</div>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/index_wel.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>