.weibo-item-userinfo-div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.weibo-item-userinfo {
	display: flex;
	flex: 10;
}

.weibo-item-avatar {
	width: 40px;
	border-radius: 50%;
}

.weibo-item-info-div {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.weibo-item-mobile-div {
	display: flex;
	width: 100% !important;
}

.weibo-item-nickname {
	width: 100%;
	color: #EC971F;
}

.weibo-item-sendtime {
	width: 100px;
}

.weibo-item-from {
	width: 100px;
	margin-left: 30px;
}

.weibo-item-complain {
	flex: 0.5;
}

.weibo-item-complain a {
	color: #AAAAAA;
	font-size: 18px;
}

.weibo-item-content-div {
	font-size: 15px;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
}

.weibo-item-other-div {
	margin-top: 10px;
	display: flex;
}

.weibo-item-other-div div {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #DDDDDD;
}

.weibo-item-other-div div:first-child {
	border-left: 0px solid #FFFFFF !important;
}

.weibo-item-other-item img {
	position: relative;
	left: -5px;
}

#reportPopover {
	height: 100px;
	width: 80px;
}

.repost_content {
	padding: 5px 10px;
	background-color: #eee;
}

.link-view {
	min-height: 60px;
	padding: 5px 10px;
	background-color: #eee;
}

.link-img {
	max-width: 50px !important;
	height: 50px !important;
	margin-right: 10px;
}

.link-text-view {
	padding: 4px 0;
}

.link-title {
	font-size: 14px;
	color: #666
}

.link-content {
	margin: 0;
}

.weibo-item .weibo-img-list {
	overflow: hidden;
	margin-top: 2px
}

.weibo-item .weibo-img-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.weibo-item .weibo-img-list li {
	float: left;
	margin: 5px 5px 0 0;
}

.weibo_content {
	padding: 10px 5px;
}

.weibo-item .report-content {
	padding: 10px;
	background-color: #F2F2F2;
}

.eye-btn {
	display: none;
}

.bg {
	color: #676767;
}

.p {
	word-wrap: break-word;
}

.weibo-list-img-one {
	width: 50% !important;
	height: auto;
}

.weibo-list-img-more {
	width: 100px !important;
	height: 100px;
}

.txt-xxs {
	font-size: 12px;
	color: #929292;
}

.txt-xxs .from {
	color: #1ABC9C;
	margin-left: 2px;
}
.weibo-type-body
{
	background-color: rgba(0,0,0,.1);	
	height: 150px;
	width: 100%;
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 9999;
}
.weibo-type-container
{
	display: flex;
	height: 150px;
	justify-content: space-around;
	width: 100%;
}
.mui-backdrop {
    position: fixed;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.1);
}
.weibo-type-item
{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.weibo-type-item-img
{
	width: 80px;
	height: 80px;
	margin-bottom: 15px;
}
.weibo-type-item-font
{
	color: #FFFFFF;
}
.weibo-type-active
{
	font-weight: bold;
	color: #000000;
}
.weibo-send-btn
{	
	position: absolute;
	bottom: 10%;
	right: 10%;
	z-index: 999;	
}
.weibo-send-btn img
{
	width: 70px;
}
