<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<style type="text/css">
			.base-pagebody {
				margin: 0 5%;
			}
			
			.search-container {
				margin: 5% 0;
				display: flex;
			}
			
			.search-btn {
				margin: 0 0 0 5%;
				height: 50%;
			}
			.groom-people-ul
			{
				margin-top: 5%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">觅友</h1>
		</header>
		<div class="base-pagebody">
			<div class="search-container">
				<input type="search" class="base-white-background search-input" name="" required="" placeholder="搜索好友" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="zh-CN">
				<button class="search-btn mui-btn mui-btn-green">搜索</button>
			</div>
			<div class="groom-people-container">
				<span class="base-grey-font">距离只差一次点击</span>
				<ul class="groom-people-ul mui-table-view">
					<!--<li class="mui-table-view-cell">                     
					</li>-->
				</ul>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
		</script>
	</body>

</html>