<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/account-login.css" />
	</head>

	<body>
		<div class="login-body mui-fullscreen">
			<div class="login-title-div">
				<span class="text-btn base-head-btn mui-action-back">返回</span>
				<span id="regBtn" class="text-btn base-head-btn">注册</span>
			</div>
			<div class="login-top-div">
				<img class="login-background" src="../img/login-background.jpg" />
			</div>
			<div class="login-logo-div">
				<img class="login-logo" src="../../img/app-logo.png" />
			</div>
			<div class="login-middle-div">
				<input id="usr" type="text" class="mui-input-clear" placeholder="username.">
				<input id="pwd" type="password" class="mui-input-clear mui-input-password" placeholder="password.">
			</div>
			<div class="login-bottom-div">
				<button id="loginBtn" class="login-btn mui-btn mui-btn-green">登录</button>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/account.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/account-login.js"></script>
	</body>

</html>