			.base-pagebody {
				margin: 0 5%;
			}
			
			.search-container {
				margin: 5% 0;
				display: flex;
			}
			
			.search-btn {
				margin: 0 0 0 5%;
				height: 50%;
			}
			
			.groom-people-ul {
				margin-top: 5%;
			}
			
			body {
				font-size: 14px;
			}
			
			.avatar {
				margin-right: 10px;
				width: 75px;
				height: 75px;
				border-radius: 50%;
			}
			
			.rank-label {
				display: inline-block;
				padding: 3px 7px;
				margin-right: 3px;
			}
			
			.label-badge {
				display: inline-block;
				min-width: 10px;
				padding: 4px 7px;
				font-size: 12px;
				line-height: 8px;
				border-radius: 12px;
			}
			
			.u-name {
				color: #007aff;
				vertical-align: bottom;
			}
			
			.li-btn {
				border: none;
				padding: 5px;
				font-size: 22px;
			}
			
			.close-btn-view {
				text-align: center;
				border-bottom: 1px solid #EFEFEF;
			}
			
			.close-btn {
				font-size: 40px;
				padding: 0 10px;
			}