<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-top-tips.css" />
		<style>
			.album-item {
				display: inline-block;
				width: 49%;
				box-shadow: 0 0 10px #AAA;
				margin: 0 -4px 10px 0;
			}
			
			.item-left {
				margin-left: 2%;
			}
			
			.issue-logo {
				width: 100%;
				height: 180px;
			}
			
			.text-area {
				font-size: 14px;
				padding: 5px;
			}
			
			.count-group {
				font-size: 12px;
				display: flex;
				align-items: baseline;
				justify-content: space-between;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header base-head-combine">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">我的地带</h1>
		</header>
		<div class="base-pagebody base-white-background mui-fullscreen">
			<div id="albumSlider" class="mui-slider mui-fullscreen">
				<div id="albumNav" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item1">全部</a>
				</div>
				<div id="sliderGroup" class="mui-slider-group">
					<div id="item1" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul type="0" data-page="1" class="mui-table-view">
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script id="scroll_ul_script" type="text/html">
			<div class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul type="{{id}}" data-page="1" class="mui-table-view">
					</ul>
				</div>
			</div>
		</script>
		<script id="album_li_script" type="text/html">
			<img class="issue-logo" src="../../img/weibo_df.png" data-src="{{cover_url}}" onload="load(this)">
			<div class="text-area">
				<div class="mui-ellipsis">{{title}}</div>
				<div class="mui-ellipsis">{{user.nickname}}</div>
				<div class="count-group">
					<i class="icon-eye "><span>{{view_count}}</span></i>
					<i class="icon-comment"><span>{{reply_count}}</span></i>
				</div>
			</div>
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/album.js" type="text/javascript" charset="utf-8"></script>
		<script src="" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			apptools.ownactiveStyle('#albumNav a', 'albumSlider');
			var albumNav = document.getElementById("albumNav");
			var sliderGroup = document.getElementById("sliderGroup");
			var postInfo = {};
			var addNavData = function(data, callback) {
				var a = document.createElement('a');
				a.className = "mui-control-item";
				a.innerHTML = data.title;
				var ahref = "#item" + data.id;
				a.href = ahref;
				albumNav.appendChild(a);
				callback(ahref);
			}
			var addAlbumList = function(data, index) {
				var li = document.createElement('li');
				var className = index % 2 == 1 ? 'mui-table-view-cell album-item item-left' : 'mui-table-view-cell album-item';
				li.className = className;
				li.id=data.id;
				li.innerHTML = template('album_li_script', data);
				return li;
			}
			mui.plusReady(function() {
				album.getAlbumType(function(res) {
					if(res.data) {
						for(i in res.data) {
							addNavData(res.data[i], function(index) {
								var div = document.createElement('div');
								div.className = "mui-slider-item mui-control-content";
								div.id = index;
								div.innerHTML = template('scroll_ul_script', res.data[i]);
								sliderGroup.appendChild(div);
								mui.each(document.querySelectorAll('.mui-scroll'), function(index, item) {
									mui(item).pullToRefresh({
										up: {
											auto:true,
											callback: function() {
												var pullObj = this;
												var ul = item.getElementsByClassName('mui-table-view')[0];
												var type = ul.getAttribute('type');
												var page = parseInt(ul.getAttribute('data-page'));
												postInfo.type = type;
												postInfo.page = page;
												ul.setAttribute('data-page', page+1);
												album.getAlbumList(postInfo, function(res) {
													if(res.data) {
														for(i in res.data) {
															var li = addAlbumList(res.data[i], (i + 1));
															ul.appendChild(li);
														}
														res.data.length < 10 ? pullObj.endPullUpToRefresh(true) : pullObj.endPullUpToRefresh(false);
													} else {
														mui.toast('数据获取失败');
														pullObj.endPullUpToRefresh(true);
													}
												})
											}
										},
										down: {
											callback: function() {
												var pullObj = this;
												var ul = item.getElementsByClassName('mui-table-view')[0];
												ul.innerHTML = "";
												var type = ul.getAttribute('type');
												var page = 1;
												postInfo.type = type;
												postInfo.page = page;
												ul.setAttribute('data-page', 1);
												album.getAlbumList(postInfo, function(res) {
													if(res.data) {
														for(i in res.data) {
															var li = addAlbumList(res.data[i], (i + 1));
															ul.appendChild(li);
														}
														pullObj.endPullDownToRefresh(true);
														pullObj.refresh();
														res.data.length < 10 ? pullObj.endPullUpToRefresh(true) : pullObj.endPullUpToRefresh(false);
													} else {
														mui.toast('数据获取失败');
														pullObj.endPullDownToRefresh(true);
														pullObj.endPullUpToRefresh(true);
													}
												})
											}
										}
									})
								})
							});
						}
					} else {
						mui.toast('专辑分类获取失败...')
					}
				})

			})
		</script>
	</body>

</html>