<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/icons-extra.css" />
		<link rel="stylesheet" type="text/css" href="../css/mall-goods-detail.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">商品详情</h1>
		</header>
		<div id="loading_page" class="base-loading">
			<i class="mui-spinner"></i>
		</div>
		<div id="goods_detail" class="mall-goods-body base-pagebody" style="display: none;">

		</div>
		<script id="goods_detail_script" type="text/html">
			<div class="mall-goods-detail-img-div">
				<img class="mall-goods-detail-img" src="../../img/weibo_df.png" data-src="{{goods_icon}}"  onload="load(this)"/>
			</div>
			<div class="mall-goodsInfo-price-body">
				<span>单价：</span>
				<span class="mall-goods-price">{{money_need}}</span>
				<span>库存</span>
				<span>{{goods_num}}</span>
				<span>件</span>
			</div>
			<div class="mall-goodsInfo-body">
				<div class="mall-goods-name-body">
					<span class="mall-goods-name">{{goods_name}}</span>
					<div class="share-btn">
						<i class="mui-icon-extra mui-icon-extra-share"></i>
						<p class="base-grey-font">分享</p>
					</div>
				</div>
				<div class="mall-goods-transmit-body">
					<span class="base-grey-font">快递:免运费</span>
					<span class="base-grey-font">月销：<span>{{sell_num}}</span></span>
				</div>
			</div>
			<div class="mall-goods-decribe-body">
				<div class="mall-goods-describe-title">宝贝描述</div>
				<div id="tmpContent"></div>
			</div>
			<nav class="mall-goods-nav mui-bar mui-bar-tab">
				<div class="goods-all-cost-body">
					<span>所需积分:</span>
					<span class="mall-goods-cost-all">233</span>
				</div>
				<button class="goods-buy-btn mui-btn mui-btn-danger">立即兑换</button>
			</nav>
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgtools.js"></script>
		<script src="js/mall-goods-detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>