<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/weibo-main.css" />
		<link rel="stylesheet" type="text/css" href="../css/weibo-detail.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">微博详情</h1>
		</header>
		<div id="loading_page" class="base-loading">
			<i class="mui-spinner"></i>
		</div>
		<div class="weibo-detail-body mui-scroll-wrapper base-pagebody">
			<div id="weibo_scroll" class="mui-scroll">
			</div>
		</div>
		<nav class="weibo-detail-tab mui-bar mui-bar-tab">
			<div id="transmitBtn" class="weibo-item-other-item weibo-item-transmit">
				<img class="base-own-icon" src="../img/weibo-item-repost.png"></img>
				<span class="base-grey-font">转发</span>
			</div>
			<div id="commentBtn" class="weibo-item-other-item weibo-item-comment">
				<img class="base-own-icon" src="../img/weibo-item-comment.png"></img>
				<span class="base-grey-font">评论</span>
			</div>
			<div id="likeBtn" class="weibo-item-other-item weibo-item-like">
				<img class="base-own-icon" src="../img/weibo-item-like.png"></img>
				<span class="base-grey-font">点赞</span>
			</div>
		</nav>
		<script id="weibo_detail_script" type="text/html">
			<div class="weibo-detail-body">
				<div class="weibo-item-userinfo-div">
					<div class="weibo-item-userinfo">
						<div class="weibo-item-avatar-div">
							<img class="weibo-item-avatar" src="../../img/default_avatar.jpg" data-src="{{user.avatar128}}" onload="load(this)" />
						</div>
						<div class="weibo-item-info-div">
							<span class="weibo-item-nickname mui-ellipsis">{{if user.nickname}}{{user.nickname}}{{else}}咸鱼{{/if}}</span>
							<div class="weibo-item-mobile-div">
								<span class="base-grey-font weibo-item-sendtime">{{create_time}}</span>
								<span class="base-grey-font weibo-item-from">{{from}}</span>
							</div>
						</div>
					</div>
					<div class="weibo-item-complain">
						<img class="weibo-detail-coll" src="../../img/collection.png"></img>
					</div>
				</div>
				<div id="weiboContent" class="weibo-item-content-div">{{fetchContent}}</div>
			</div>
			<div class="weibo-detail-groom-body base-white-background">
				<span class="base-grey-font">相关推荐</span>
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<div class="mui-control-item mui-active">
							推荐微博1
						</div>
						<div class="mui-control-item">
							推荐微博2
						</div>
						<div class="mui-control-item">
							推荐微博3
						</div>
						<div class="mui-control-item">
							推荐微博4
						</div>
					</div>
				</div>
			</div>
			<div class="weibo-detail-comment-body base-white-background">
				<div class="weibo-detail-comment-count">
					<span class="base-grey-font">转发</span><span class="base-grey-font weibo-detail-trascount">{{repost_count}}</span>
					<span class="base-grey-font">评论</span><span class="base-grey-font weibo-detail-commcount">{{comment_count}}</span>
					<span class="base-grey-font mui-pull-right weibo-detail-lkcount">{{support_count}}</span><span class="base-grey-font mui-pull-right">赞</span>
				</div>
				<ul id="weiboCommentUl" class="mui-table-view">
					<!--<li class="mui-table-view-cell">
					</li>-->
				</ul>
				<div class="weibo-detail-commentBtn-body">
					<div id="noComment" style="display: none;">没有更多评论</div>
					<button id="getCommentBtn" type="button" class="mui-btn" style="display: none;">点击加载更多</button>
				</div>
			</div>
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/weibo.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/weibo-render.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgtools.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/weibo-detail.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>