<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/ucenter-userinfo.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header">
			<i class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></i>
			<h1 class="mui-title">用户资料</h1>
		</header>
		<!--<div id="usercenter-loading" style="text-align: center;margin-top: 60%;">
			<i class="mui-spinner"></i>
		</div>-->
		<div id="usercenter-content" class="base-pagebody" style="display: block;">
			<div id="Info" class="user-info-view">
			</div>		
			<div class="ucenter-mainInfo">
				<div class="ucenter-explain mui-text-center">
					其他资料
				</div>
				<div id="bottomInfo">
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/ucenter.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/ucenter-render.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/ucenter-userinfo.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>