<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/animate/animate.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/middle-main.css"/>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header">
			<h1 class="mui-title">更多精彩</h1>
		</header>
		<div class="middle-body mui-fullscreen">
			<ul class="mui-table-view base-listview-item-height">
				<li id="mall" class="mui-table-view-cell animated bounceInRight" style="display: none;">
					<img class="mui-media-object mui-pull-left" src="../img/middle-market.png">
					<div class="mui-media-body">
						积分商城
						<p class="mui-ellipsis">买买买</p>
					</div>
				</li>
				<li id="forum" class="mui-table-view-cell animated bounceInRight" style="display: none;">
					<img class="mui-media-object mui-pull-left" src="../img/middle-forum.png">
					<div class="mui-media-body">
						动感论坛
						<p class="mui-ellipsis">聊聊聊</p>
					</div>
				</li>
				<li id="search" class="mui-table-view-cell animated bounceInRight" style="display: none;">
					<img class="mui-media-object mui-pull-left" src="../img/middle-searchp.png">
					<div class="mui-media-body">
						众里寻ta
						<p class="mui-ellipsis">约约约</p>
					</div>
				</li>
				<li id="album" class="mui-table-view-cell animated bounceInRight" style="display: none;">
					<img class="mui-media-object mui-pull-left" src="../img/middle-mine.png">
					<div class="mui-media-body">
						我的地带
						<p class="mui-ellipsis">秀秀秀</p>
					</div>
				</li>
				<li id="activity" class="mui-table-view-cell animated bounceInRight" style="display: none;">
					<img class="mui-media-object mui-pull-left" src="../img/middle-activity.png">
					<div class="mui-media-body">
						精彩活动
						<p class="mui-ellipsis">玩玩玩</p>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/middle-main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>