<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-top-tips.css" />
		<link rel="stylesheet" type="text/css" href="../css/question-main.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header base-head-combine">
			<h1 class="mui-title">问答</h1>
		</header>
		<div class="question-body mui-fullscreen">
			<div class="mui-slider mui-fullscreen">
				<div id="wrapper" class="slider-bar mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item_0">提问</a>
					<a class="mui-control-item" href="#item_1">采纳</a>
				</div>
				<div id="slider_group" class="mui-slider-group">
					<div id="item_0" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll_wrapper_0" class="mui-scroll-wrapper">
							<div id="waitBody" class="mui-scroll">
								<ul id="wait" data-page="1" class="mui-table-view"></ul>
							</div>
						</div>
					</div>
					<div id="item_1" class="mui-slider-item mui-control-content">
						<div id="scroll_wrapper_1" class="mui-scroll-wrapper">
							<div id="hotBody" class="mui-scroll">
								<ul id="hot" data-page="1" class="mui-table-view"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/question-render.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/question.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/question-main.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>