<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/appstyle/base.css" />
		<link rel="stylesheet" type="text/css" href="../../css/pull-top-tips.css" />
		<link rel="stylesheet" type="text/css" href="../css/question-main.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav base-title-header base-head-combine">
			<h1 class="mui-title">问答</h1>
		</header>
		<div class="question-body mui-fullscreen">
			<div class="mui-slider mui-fullscreen">
				<div id="wrapper" class="slider-bar mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#item_0">提问</a>
					<a class="mui-control-item" href="#item_1">采纳</a>
				</div>
				<div id="slider_group" class="mui-slider-group">
					<div id="item_0" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll_wrapper_0" class="mui-scroll-wrapper">
							<div id="waitBody" class="mui-scroll">
								<ul id="wait" data-page="0" class="mui-table-view"></ul>
							</div>
						</div>
					</div>
					<div id="item_1" class="mui-slider-item mui-control-content">
						<div id="scroll_wrapper_1" class="mui-scroll-wrapper">
							<div id="hotBody" class="mui-scroll">
								<ul id="hot" data-page="0" class="mui-table-view"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/tool/apptools.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/httptool.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/lib/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/imgload.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/tool/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/question-render.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/question.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			var postInfo = {
				'page': 1,
				'type': 'wait'
			}
			mui.each(document.querySelectorAll('.mui-scroll'), function(index, item) {
				mui(item).pullToRefresh({
					up: {
						callback: function() {
							var pullObj = this;
							var ul = item.getElementsByClassName('mui-table-view')[0];
							postInfo.page = parseInt(ul.getAttribute('data-page'))+1;
							postInfo.type = ul.getAttribute('id');
							console.log(postInfo.page)
							question.getQuestionList(postInfo, function(res) {
								if(res.data) {
									for(var i in res.data) {
										var li = get_question_li(res.data[i]);
										ul.appendChild(li);
										res.data.length < 10 ? pullObj.endPullUpToRefresh(true) : pullObj.endPullUpToRefresh(false);
									}
								} else {
									pullObj.endPullUpToRefresh(true)
								}
							})
							ul.setAttribute('data-page', postInfo.page);
						}
					},
					down: {
						callback: function() {
							var pullObj = this;
							var ul = item.getElementsByClassName('mui-table-view')[0];
							postInfo.page = 1;
							postInfo.type = ul.getAttribute('id');
							question.getQuestionList(postInfo, function(res) {
								if(res.data) {
									for(var i in res.data) {
										var li = get_question_li(res.data[i]);
										ul.appendChild(li);
										pullObj.endPullDownToRefresh();
										pullObj.refresh();
										res.data.length < 10 ? pullObj.endPullUpToRefresh(true) : pullObj.endPullUpToRefresh(false);
									}
								} else {
                                    pullObj.endPullUpToRefresh(true)
								}
							})
							ul.setAttribute('data-page', 1);
						}
					}
				})
			})
			mui.plusReady(function(){
				mui(mui('.mui-scroll')[0]).pullToRefresh().pullDownLoading();
                mui('.mui-slider')[0].addEventListener('slide',function(){
                	var index=event.detail.slideNumber;
                	mui(mui('.mui-scroll')[index]).pullToRefresh().pullDownLoading();
                })
			})
		</script>
	</body>

</html>